# Gramener Hackathon

This notebook explores the top trending terms on Google Trends in India every day data for the gramener hackathon.

**The hackathon outcome will be judged according to two criterias: story-telling and problem selection.**
    - Story-telling -- how informative, memorable, and clear the insights are.
    - Problem selection -- how well you have understood the domain and framed the problem.

ERROR:root:Line magic function `%conda` not found.

In [8]:
%ls

Hackathon - Google Trends.ipynb  hackathon.ipynb  news.log

In [315]:
import pandas as pd
%matplotlib inline
import numpy as np

In [371]:
pd.__version__

u'0.18.1'

In [47]:
data = pd.read_csv("news.log", sep="\t", names=["kw"+str(i) for i in range(1, 22)], header=None);

In [48]:
data.shape

(2808, 22)

**Run below line only when you want to start all over again**

In [191]:
data.to_csv("google_trends_not_cleaned.csv", sep="|")

## This saved file has been cleaned manually - Use this file.
The time taken for me to clean this file would be have been more (via python) than via manual entry (to learn later).

In [152]:
# Let's see the first 10 rows
!head -n 10 google_trends.csv

datetime|kw2|kw3|kw4|kw5|kw6|kw7|kw8|kw9|kw10|kw11|kw12|kw13|kw14|kw15|kw16|kw17|kw18|kw19|kw20|kw21
2009-01-17 12:00:08.105712|Mumbai marathon|Raju ananthaswamy|Anna university results|Nail the thief|Sbicard|||||||||||||||
2009-01-18 12:00:05.694114|Radioreloaded|Ravindra jadeja|Smartdte.in|Mfc 2009 analysis|Mumbai marathon 2009|||||||||||||||
2009-01-19 12:00:08.654102|Allahabad bank|Xat results|Ayan songs|Allahabadbank.com|Www.allahabadbank.com|||||||||||||||
2009-01-20 12:00:07.530375|Fiitjee|Fiitjee results|Ftre results|Www.fiitjee.com|Www.shimoga.net|||||||||||||||
2009-01-21 12:00:06.989269|Anna university results|Aibea|Www.sbtetap.ac.in|Republic day|Aiboc|||||||||||||||
2009-01-22 12:00:05.414147|Republic day|Rvce|Avast updates|Osmania|Slumdog millionaire oscar|||||||||||||||
2009-01-23 12:00:05.060929|Bsnleu|Www.bsnleuchq.com|Bsnleuchq.com|Aicte|Nfte|||||||||||||||
2009-01-24 12:00:05.339114|Sony pix|Nstse|Star maza|Dteap.ac.in|Jkbose|||||||||||||||
2009-01-25 12:00:14.887853|Sivajitv.com|Republic day sms|Www.starscreenawards.in|Sivaji tv|Starscreenawards.in|||||||||||||||

In [160]:
df = pd.read_csv("google_trends.csv", sep="|", index_col=0, parse_dates=True)

In [247]:
# Convert everything to lower case
for i in range(2, 21):
    df['kw'+str(i)] = df['kw'+str(i)].str.lower()

In [248]:
df.shape

(2804, 20)

In [249]:
df.index.min(), df.index.max()

(Timestamp('2009-01-17 12:00:08.105712'),
 Timestamp('2016-12-12 00:20:04.579057'))

In [250]:
df.describe()

,kw2,kw3,kw4,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,kw14,kw15,kw16,kw17,kw18,kw19,kw20,kw21
count,2803,2798,2794,2792,2790,2489,2484,2482,2473,2468,2462,2449,2443,2437,2431,2422,2416,2407,2398,2354
unique,1988,2083,2148,2202,2203,1933,1963,1928,1947,1939,1952,1922,1915,1925,1920,1921,1935,1929,1917,1875
top,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket,cricket
freq,44,38,40,38,37,40,22,40,41,26,36,40,23,43,32,27,28,31,39,31

In [255]:
df.ix[1231]

kw2                 ek tha tiger
kw3     devudu chesina manushulu
kw4        box office collection
kw5                      dhoom 3
kw6                 bhagat singh
kw7                        latur
kw8                          mha
kw9                         ongc
kw10               vande mataram
kw11            facebook friends
kw12         intelligence bureau
kw13               chak de india
kw14                    the guru
kw15                    deshmukh
kw16           vilasrao deshmukh
kw17                      getjar
kw18                    ambedkar
kw19               gmail account
kw20                republic day
kw21                 vijay kumar
Name: 2012-08-16 00:20:04.011229, dtype: object

In [347]:
# We have grouped by year and month and calculated the total number of words that occur 

date_time = pd.to_datetime(df.index)
df.groupby([date_time.year, date_time.month]).describe()

                                 kw2                                  kw3  \
2009 1  count                     13                                   13
        unique                    13                                   13
        top                  fiitjee                      ravindra jadeja
        freq                       1                                    1
     2  count                     21                                   21
        unique                    20                                   20
        top              vtu results                                 nhpc
        freq                       2                                    2
     3  count                     20                                   20
        unique                    20                                   19
        top      vtu results 1st sem                                 bput
        freq                       1                                    2
     4  count                     24                                   24
        unique                    24                                   24
        top     aieee 2009 solutions                            ipl score
        freq                       1                                    1
     5  count                     26                                   26
        unique                    26                                   25
        top       missing link found                          vit vellore
        freq                       1                                    2
     6  count                     20                                   20
        unique                    18                                   20
        top                  dsc key                bandra worli sea link
        freq                       2                                    1
     7  count                     24                                   24
        unique                    21                                   24
        top              vtu results               solar eclipse in india
        freq                       3                                    1
     8  count                     30                                   30
        unique                    29                                   29
...                              ...                                  ...
2016 5  top              real madrid                       leicester city
        freq                       2                                    2
     6  count                     30                                   30
        unique                    26                                   30
        top      portugal vs iceland                                vijay
        freq                       3                                    1
     7  count                     31                                   31
        unique                    27                                   31
        top                   mukesh                   pokemon go android
        freq                       2                                    1
     8  count                     33                                   32
        unique                    32                                   31
        top        manchester united  a flying jatt box office collection
        freq                       2                                    2
     9  count                     29                                   29
        unique                    28                                   26
        top            narendra modi                                banjo
        freq                       2                                    2
     10 count                     32                                   32
        unique                    29                                   30
        top                 muharram                          real madrid
        freq                       2                                    2
     11 count                     34                                   34
        unique                    32                                   30
        top                  chelsea                      gold rate today
        freq                       2                                    2
     12 count                     13                                   13
        unique                    13                                   13
        top      bharat bandh monday                              chelsea
        freq                       1                                    1

                                      kw4                   kw5  \
2009 1  count                          13                    13
        unique                         13                    13
        top                     nmims.edu         nmims results
        freq                            1                     1
     2  count                          21                    21
        unique                         21                    21
        top                 www.vtu.ac.in                  bsnl
        freq                            1                     1
     3  count                          20                    20
        unique                         19                    20
        top                          rgtu       ugadi greetings
        freq                            2                     1
     4  count                          24                    24
        unique                         24                    24
        top                     sslc 2009      delhi high court
        freq                            1                     1
     5  count                          26                    26
        unique                         26                    25
        top                    ndtv india          federal bank
        freq                            1                     2
     6  count                          20                    20
        unique                         20                    20
        top           mbbs rank list 2009  t.y.b. c.o.m. result
        freq                            1                     1
     7  count                          24                    24
        unique                         23                    24
        top                jntu anantapur     kamasutra condoms
        freq                            2                     1
     8  count                          30                    30
        unique                         30                    28
...                                   ...                   ...
2016 5  top                      gseb.org           real madrid
        freq                            2                     2
     6  count                          30                    30
        unique                         30                    30
        top     mahresult.nic.in 2016 ssc                   bse
        freq                            1                     1
     7  count                          31                    31
        unique                         31                    30
        top             portugal vs wales                    du
        freq                            1                     2
     8  count                          32                    32
        unique                         31                    32
        top                  espncricinfo           flying jatt
        freq                            2                     1
     9  count                          29                    29
        unique                         28                    29
        top             manchester united      jayalalitha news
        freq                            2                     1
     10 count                          31                    31
        unique                         31                    30
        top                       afc cup     manchester united
        freq                            1                     2
     11 count                          34                    34
        unique                         34                    32
        top                       afc cup     manchester united
        freq                            1                     3
     12 count                          12                    12
        unique                         12                    12
        top            sasikala natarajan                   rip
        freq                            1                     1

                                        kw6                              kw7  \
2009 1  count                            13                                0
        unique                           13                                0
        top                 www.shimoga.net                              NaN
        freq                              1                              NaN
     2  count                            21                                0
        unique                           21                                0
        top             billo barber review                              NaN
        freq                              1                              NaN
     3  count                            20                                0
        unique                           20                                0
        top                  saurashtra uni                              NaN
        freq                              1                              NaN
     4  count                            24                                0
        unique                           24                                0
        top             sony ericsson india                              NaN
        freq                              1                              NaN
     5  count                            26                                0
        unique                           26                                0
        top             mahamastakabhisheka                              NaN
        freq                              1                              NaN
     6  count                            20                                0
        unique                           20                                0
        top                 asutosh college                              NaN
        freq                              1                              NaN
     7  count                            24                                0
        unique                           24                                0
        top     pattanathil bhootham review                              NaN
        freq                              1                              NaN
     8  count                            30                                0
        unique                           30                                0
...                                     ...                              ...
2016 5  top                  mumbai indians  modi compares kerala to somalia
        freq                              1                                1
     6  count                            30                               30
        unique                           30                               30
        top               ku degree results                     mohenjo daro
        freq                              1                                1
     7  count                            31                               31
        unique                           31                               30
        top                     neeti mohan         great grand masti review
        freq                              1                                2
     8  count                            32                               31
        unique                           31                               30
        top               pokemon go update                  queen elizabeth
        freq                              2                                2
     9  count                            29                               29
        unique                           28                               26
        top               manchester united                      real madrid
        freq                              2                                2
     10 count                            31                               31
        unique                           31                               31
        top                             kvs                  rpsc admit card
        freq                              1                                1
     11 count                            34                               33
        unique                           33                               32
        top                   arnab goswami                  pakistan firing
        freq                              2                                2
     12 count                            12                               12
        unique                           12                               12
        top     anna university latest news                        barcelona
        freq                              1                                1

                                           kw8  \
2009 1  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     2  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     3  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     4  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     5  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     6  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     7  count                                0
        unique                               0
        top                                NaN
        freq                               NaN
     8  count                                0
        unique                               0
...                                        ...
2016 5  top                     mumbai indians
        freq                                 1
     6  count                               30
        unique                              29
        top                    ssc result 2016
        freq                                 2
     7  count                               31
        unique                              31
        top     bhagwant mann parliament video
        freq                                 1
     8  count                               30
        unique                              29
        top                            florida
        freq                                 2
     9  count                               29
        unique                              29
        top        wwe clash of champions 2016
        freq                                 1
     10 count                               31
        unique                              29
        top                 karwa chauth katha
        freq                                 2
     11 count                               32
        unique                              31
        top                  no shave november
        freq                                 2
     12 count                               12
        unique                              12
        top              bigg boss 10 eviction
        freq                                 1

                                            kw9                        kw10  \
2009 1  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     2  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     3  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     4  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     5  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     6  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     7  count                                 0                           0
        unique                                0                           0
        top                                 NaN                         NaN
        freq                                NaN                         NaN
     8  count                                 0                           0
        unique                                0                           0
...                                         ...                         ...
2016 5  top            wwe payback 2016 results                 tanmay bhat
        freq                                  1                           2
     6  count                                30                          30
        unique                               29                          29
        top                  england vs iceland           england vs russia
        freq                                  2                           2
     7  count                                31                          31
        unique                               31                          30
        top     indian air force flight missing             euro 2016 final
        freq                                  1                           2
     8  count                                30                          30
        unique                               30                          29
        top                happy friendship day              yogeshwar dutt
        freq                                  1                           2
     9  count                                29                          28
        unique                               28                          27
        top                   manchester united                    iphone 7

In [360]:
# Total number of keywords present in a month, for every year
df.T.groupby([date_time.year, date_time.month], axis=1).count()

     2009                                     ... 2016                      \
       1   2   3   4   5   6   7   8   9   10 ...   3   4   5   6   7   8
kw2    13  21  20  24  26  20  24  30  28  29 ...   31  30  31  30  31  33
kw3    13  21  20  24  26  20  24  30  28  29 ...   31  30  31  30  31  32
kw4    13  21  20  24  26  20  24  30  28  29 ...   31  30  31  30  31  32
kw5    13  21  20  24  26  20  24  30  28  29 ...   31  30  31  30  31  32
kw6    13  21  20  24  26  20  24  30  28  29 ...   31  30  31  30  31  32
kw7     0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  31
kw8     0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw9     0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw10    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw11    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw12    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw13    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw14    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  30
kw15    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  29
kw16    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  28
kw17    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  28
kw18    0   0   0   0   0   0   0   0   0   0 ...   31  30  31  30  31  28
kw19    0   0   0   0   0   0   0   0   0   0 ...   30  30  31  30  31  28
kw20    0   0   0   0   0   0   0   0   0   0 ...   30  30  31  30  31  27
kw21    0   0   0   0   0   0   0   0   0   0 ...   25  29  31  30  29  23


      9   10  11  12
kw2   29  32  34  13
kw3   29  32  34  13
kw4   29  31  34  12
kw5   29  31  34  12
kw6   29  31  34  12
kw7   29  31  33  12
kw8   29  31  32  12
kw9   29  31  32  12
kw10  28  30  30  12
kw11  28  30  30  12
kw12  28  30  30  12
kw13  27  29  28  12
kw14  27  29  28  12
kw15  27  29  27  12
kw16  27  29  26  12
kw17  27  29  26  12
kw18  27  29  26  12
kw19  27  28  26  11
kw20  25  28  26  11
kw21  24  25  23   9

[20 rows x 96 columns]

In [369]:
df['kw2'].groupby([date_time.year, date_time.month, df['kw2']]).count()

          kw2
2009  1   allahabad bank                         1
          anna university results                1
          bput                                   1
          bsnleu                                 1
          fiitjee                                1
          mumbai marathon                        1
          nmims                                  1
          radioreloaded                          1
          republic day                           1
          sivajitv.com                           1
          sony pix                               1
          uptu result                            1
          wbuhs                                  1
      2   anna university coimbatore             1
          anna university results jan 2009       1
          bsnl                                   1
          christ university                      1
          cusat                                  1
          davv                                   1
          gujarat university                     1
          ind vs nz                              1
          msbte                                  1
          mumbai university                      1
          mysore university                      1
          nabard                                 1
          nimhans                                1
          tekerala.org                           1
          the mobile store                       1
          uptu.ac.in                             1
          valentine day sms                      1
                                                ..
2016  11  jawaharlal nehru                       1
          kavya madhavan                         1
          kerala blasters                        1
          louisa may alcott                      1
          ndtv                                   1
          oneplus 3t                             1
          orop                                   1
          pakistan firing                        1
          ranveer singh                          1
          real madrid                            2
          rpsc                                   1
          shahrukh khan                          1
          skoda rapid                            1
          trump tower                            1
          uppsc                                  1
          veterans day                           1
          virat kohli                            1
      12  aids day                               1
          army bengal                            1
          arsenal                                1
          befikre review                         1
          bharat bandh monday                    1
          determination of the speed of light    1
          google news                            1
          himesh reshammiya                      1
          kahaani 2                              1
          karthigai deepam                       1
          louis tomlinson                        1
          virat kohli                            1
          wwe tlc 2016                           1
Name: kw2, dtype: int64